
.container{
    background: white;
    border-radius:20px;
    opacity: 0.9;
    padding: 3em;
    width: 320px !important;
    margin: 20vh auto;  
}

input[type='text']{
    text-transform:capitalize;
}
