  <ng-container *ngIf="tickets.length ; then table else notFound"></ng-container>


<ng-template #table>
  <div class="container__table">
    <app-tickets-table
      [user]="user"
      [buttons]="['print', 'delete']"
      [tickets]="tickets">
    </app-tickets-table>
  </div>
</ng-template>

<ng-template #notFound>
  <div class="container">
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <span class="text-center" i18n>Sin transacciones</span>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</ng-template>

