<div class="custom__modal">
  <div class="container mat-elevation-z8">
    <ng-container *ngIf="tickets.length > 0; then table else notFound"></ng-container>
  </div>
</div>


<ng-template #table>
  <table mat-table [dataSource]="tickets" *ngIf="tickets.length > 0">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Nº </th>
      <td mat-cell *matCellDef="let ticket" [ngClass]="isCrossed(ticket)"> {{ticket.id}} </td>
      <td mat-footer-cell *matFooterCellDef>{{todayEs}}</td>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let ticket" [ngClass]="isCrossed(ticket)"> {{ ticket.name + ' ' + ticket.lastName }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let ticket" [ngClass]="isCrossed(ticket)"> {{ getType(ticket.type) }} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Monto </th>
      <td style="text-align: right" mat-cell *matCellDef="let ticket" [ngClass]="isCrossed(ticket)"> {{ticket.amount | currency}} </td>
      <td style="text-align: right" mat-footer-cell *matFooterCellDef> {{getTotalAmount() | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td style="text-align: right" mat-cell *matCellDef="let ticket">
        <ng-container *ngIf="ticket.status === '1'">
          <button mat-button (click)="openPopup(ticket)" >
            <mat-icon color="warn">delete_outline</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="ticket.status !== '1'">
          <span class="crossed">Anulado</span>
        </ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</ng-template>

<ng-template #notFound>
  <div class="container">
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6">
        <span class="text-center">Sin transacciones</span>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</ng-template>

