@import '../styles.scss';
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  width: 100vw;
  position: fixed;
  z-index: 99;
  top:5px;
  padding: 0% 4%;
  background-color: $color-primary;
  filter: $shadow;
}

.cont{
  width: 100vw;
  padding: 0% 4%;
  margin-top: 25vh;
}
